﻿@model RoomReservation.ViewModels.RoomAccommodationsViewModel

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Room number</th>
            <th>Bed number</th>
            <th>Price</th>
            <th>Accommodation</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{var num = 1;
            ViewBag.num = num;
         }
        @foreach (var item in Model.Rooms)
        {
            Html.RenderPartial("_RoomItem", item);
            num++;
            ViewBag.num = num;
        }
    </tbody>
</table>