﻿@model RoomReservation.Models.Room
<tr>
    <td><b>@ViewBag.num</b></td>
    <td>@Model.RoomNumber</td>
    <td>@Model.BedNumber</td>
    <td>@Model.Price</td>
    <td>@Model.Accommodation.Name</td>
    <td>@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })</td>
    <td>
        @using (Html.BeginForm("Delete", "Rooms", new { id = Model.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        }
    </td>
</tr>

