﻿@using PagedList.Mvc
@model RoomReservation.ViewModels.RoomAccommodationsViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Rooms</h2>

<div class="row">
    <div class="col-sm-4"><button id="filter" class="btn btn-default pull-left">Filter</button></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        @using (Html.BeginForm("Index", "Rooms", FormMethod.Get))
        {
            <input type="submit" value="Sort by" class="btn btn-default" />
            @Html.DropDownListFor(m => m.sortType,
                      new SelectList(Model.SortTypes, Model.SortTypes.FirstOrDefault().ToString()))
        }
    </div>
</div>

<div id="filterForm" class="hidden">
    @using (Html.BeginForm("Filter", "Rooms", FormMethod.Post))
    {
        @Html.LabelFor(m=>m.RoomFilter.BedNumberFrom)
        @Html.EditorFor(m=>m.RoomFilter.BedNumberFrom, new { htmlAttributes = new { @class = "form-control" } })
        @Html.LabelFor(m => m.RoomFilter.BedNumberTo)
        @Html.EditorFor(m => m.RoomFilter.BedNumberTo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.LabelFor(m => m.RoomFilter.PriceFrom)
        @Html.EditorFor(m => m.RoomFilter.PriceFrom, new { htmlAttributes = new { @class = "form-control" } })
        @Html.LabelFor(m => m.RoomFilter.PriceTo)
        @Html.EditorFor(m => m.RoomFilter.PriceTo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.LabelFor(m => m.RoomFilter.AccommodationName)
        @Html.EditorFor(m => m.RoomFilter.AccommodationName, new { htmlAttributes = new { @class = "form-control" } })
        <input type="submit" class="btn btn-info" />
    }
</div>

@{
    Html.RenderPartial("_RoomList");
}
Page @(Model.Rooms.PageCount < Model.Rooms.PageNumber ? 0 : Model.Rooms.PageNumber) of @Model.Rooms.PageCount

@Html.PagedListPager(Model.Rooms, page => Url.Action("Index", new { page }))

@Html.ActionLink("Create new", "Create", null, new { @class = "btn btn-primary" })